body {
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
  color: orangered;
}
.container {
  max-width: 300px;
  margin: 50px auto;
}

input,
button {
  margin-bottom: 10px;
  font-size: 20px;
}

button:hover {
  background-color: blue;
  color: white;
}
