body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
button {
  display: block;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.race-info {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.race-info h2 {
  margin-bottom: 10px;
}
